# Added these lines to .gitignore
# xcode noise
*.build/
build/
DerivedData/
docs/
*.mode1v3
*.pbxuser
*.perspectivev3
*.orig
*.pyc
*.py~
xcuserdata
xcshareddata
.*
!/.gitignore

# osx noise
.DS_Store
*/.DS_Store
profile
